* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.game {
  display: flex;
  flex-direction: column;
}

.game-title {
  background: #333;
  color: #fff;
  text-align: center;
}

.game-board {
  margin: auto;
  padding: 10px;
}

.game-info {
  padding: 30px;
}

.board-row {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 32px;
  font-weight: bold;
  line-height: 42px;
  height: 42px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 42px;
}

.square:hover {
  background: #999;
}
